.set-form-container {
    display: grid;
    background-color: rgba(0, 0, 0, 0);
    grid-template-areas: 
    "sf-header"
    "sf-meta"
    "sf-tags"
    "sf-cards";
    width: 1300px;
    gap: 15px;
}

.sf-header-container {
    grid-area: sf-header;
    font-size: 26px;
    font-weight: bold;
    height: auto;
    margin-bottom: 5px;
}

.sf-meta-container {
    grid-area: sf-meta;
}

.sf-cards-container {
    grid-area: sf-cards;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sf-cards-container .add-card{
    background-color: var(--color-fg);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;

    align-items: center;
    font-size: 18px;
    height: 100px;
    width: 100%;

    transition: box-shadow 0.2s ease, color 0.2s ease;
}

.sf-cards-container .add-card:hover{
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
    color: var(--color-accent);
}

.sf-submit-button {
    margin: auto;
    margin-top: 10px;
    font-size: 18px;
    width: 200px;
    padding: 14px;
    background-color: var(--color-accent);
    transition: background-color 0.2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: bold;
}

.sf-submit-button:hover{
    background-color: rgba(22, 206, 120, 0.7);
}


@media (max-width: 1600px) {
    .set-form-container {
        width: 90%;
    } 
}

