.register-tab-container button{
    border: none;
    transition: background-color 0.26s;
    background-color: rgba(0, 0, 0, 0);
}

.register-tab-container button:hover{
    background-color: rgba(252, 186, 3, 0.7);
    cursor: pointer;
}

.register-tab-notification {
    font-size: 16px;
    min-height: 20px;
}

.register-tab-container {
    grid-area: lr-modal-content;
    
    height: 100%;
    width: 100%;
    background-color: var(--color-fg);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    gap: 15px;
}

.register-tab-form {
    width: 100%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.register-tab-form input{
    border: none;
    font-size: 16px;
    width: 70%;
    border-bottom: 2px solid rgba(24, 24, 24, 0.1);
    padding-bottom: 9px;
    transition: border-bottom 0.26s;
}

.register-tab-form input:focus{
    outline: none;
    border-bottom: 2px solid var(--color-accent);
}

.register-tab-button-container {
    width: 70%;
    max-height: 50px;
}

.register-tab-form button{
    margin-top: 5px;
    font-size: 19px;
    background-color: var(--color-accent);
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.26s;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}