html, body, #root, #root>div {
    height: 100%
}

.main-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 7fr;
    grid-template-rows: 75px 150px auto;
    grid-gap: 7.5px;
    grid-template-areas: 
        "header header"
        "sidebar filter"
        "sidebar content"
        "sidebar content"
}

.navbar-container {
    grid-area: header;
}

.filter-container {
    background: blue;
    grid-area: filter;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 14px;
}

.sidebar-container {
    background: green;
    grid-area: sidebar;
    margin-left: 5px;
    margin-bottom: 5px;
}

.content-container {
    background: yellow;
    grid-area: content;
    margin-right: 5px;
    margin-bottom: 5px;
}