.studyset-container {
    display: grid;
    grid-area: content;
    grid-template-columns: 170px auto;
    grid-template-rows: 25px auto;
    grid-template-areas: 
    "content-margin grid-header"
    "content-margin grid-content"
    ;
}

.content-margin {
    grid-area: content-margin;
}

.grid-header-container {
    grid-area: grid-header;
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    font-weight: bold;
    font-size: 18px;
    grid-gap: 35px;
}

.grid-header {
    padding-right: 10px;
    display: grid;
}

.grid-container {
    grid-area: grid-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    grid-auto-rows: 200px;
    grid-gap: 35px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .grid-header-container {
        grid-template-columns: repeat(auto-fill, 45%);
        justify-content: center;
    }
    .grid-container {
        grid-template-columns: repeat(auto-fill, 45%);
        grid-auto-rows: 225px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .studyset-container {
        grid-template-columns: auto;
        grid-template-rows: 25px auto;
        grid-template-areas: 
        "grid-header"
        "grid-content";
    }
    .grid-header-container {
        justify-content: center;
    }
    .grid-container {
        justify-content: center;
        
    }
    .content-margin {
        grid-area: content-margin;
        display: none;
    }
}

@media (max-width: 330px) {
    .grid-header-container {
        grid-area: grid-header;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        font-weight: bold;
        font-size: 18px;
        grid-gap: 35px;
    }

    .grid-container {
        grid-area: grid-content;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 200px;
        grid-gap: 35px;
    }
}