.flashcard-container
{
    display: flex;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 60%;
    height: auto;
    min-height: 150px;
    margin-top: 30px;
    
    align-content: stretch;
}

.flashcard-container .desc
{
    width: 70%;
    
    padding-left: 10px;
    padding-right: 10px;
    margin:25px;
    margin-bottom: 25px;
}

.flashcard-container .term{
    border-right: 2px solid rgba(150,150,150,0.4);
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:25px;
    margin-bottom: 25px;   
}


@media (min-width: 320px) and (max-width: 480px) {
    .main-container {

    }
}