#flashcard-container
{
    display: flex;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width:50%;
    height: auto;
    min-height: 150px;
    
    align-content: stretch;
    border-radius: 10px;
}

#desc
{
    width: 70%;
    
    padding-left: 10px;
    padding-right: 10px;
    margin:25px;
    margin-bottom: 25px;
}

#term{
    border-right: 2px solid rgba(150,150,150,0.4);
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:25px;
    margin-bottom: 25px;   
}


@media (min-width: 320px) and (max-width: 480px) {
    .main-container {

    }
}