.welcome-container a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.welcome-container {
    /*
        Set grid area coverage welcome page should cover whole screen
    */
    grid-area: content;
    
    display: grid;
    grid-template-rows: 60% auto;
    grid-template-areas:
    "banner"
    "features";
}

.banner-container {
    grid-area: banner;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-title-container{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.banner-title{
    width: 100%;
    font-size: 10em;
    font-weight: bold;
    color: rgba(48, 48, 48, 0.2);
}

.start-container {
    margin-top: 2vh;
    background-color: var(--color-accent);

    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.start-text {
    font-size: 19px;
    margin:18px;
}

.start-container:hover {
    background-color: rgba(22, 206, 120, 0.8);
}

.banner-summary {
    font-size: 1.5em;
}

.features-container {
    grid-area: features;
    height: auto;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.features-grid-item {
    max-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.features-header {
    width: 100%;
    height: 15px;

    font-weight: bold;
    font-size: 24px;
    color: var(--color-text);
}

.features-info {
    font-size: 17px;
    width: 100%;
    height: fit-content;
    color: var(--color-text);
}

@media (max-width: 600px) {
    .features-container {
        flex-direction: column;
    }

    .banner-title{
        margin-left: 15px;
        font-size: 6em;
        width: 400px;
    }

    .banner-summary {
        margin-left: 15px;
        font-size: 1em;
        width: 90%;
    }

    .banner-title-container{
        width: 100%;
    }

    .start-container {
        margin-top: 2vh;
        margin-left: 15px;
        background-color: var(--color-accent);
        width: fit-content;
    }
    
    .start-text {
        font-size: 15px;
        margin:18px;
    }
}