.carousel-container{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    
    box-sizing: border-box;
}

.next-slide-button{
    height : 30px;
    width: 30px;
    margin: 10px;
}
.prev-slide-button{
    height : 30px;
    width: 30px;
    margin: 10px;
}

.next-slide-button:hover{
    fill:var(--color-accent);
}
.prev-slide-button:hover{
    fill:var(--color-accent);
}
.slide-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:10%;
}

/*right
<svg width="24" height="24" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg>
*/

/*
<svg width="24" height="24" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg>
*/