.grid-item {
    background: var(--color-fg);
    
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    display: grid;
    grid-template-rows: 30px 40px auto;
    grid-template-areas:
    "options"
    "title"
    "tags";
    padding: 10px;
    transition: box-shadow .3s;
    border-radius: 2px;
}

.grid-item .info-options {
    grid-area: options;
    display: flex;
    flex-direction: row;
}

.grid-item .info-options .info{
    grid-area: options;
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    gap: 5px;
}

.grid-item .info-options .options{
    grid-area: options;
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
}

.grid-item .info-options .options button{
    color: rgba(150, 150, 150, 0.4);
    border: none;
    background: var(--color-fg);
    transition: color 0.2s;
    width: 40px;
}

.grid-item .info-options .options button:hover{
    cursor: pointer;
}

.grid-item .info-options .options button .edit:hover{
    color: rgb(24, 24, 24);
}

.grid-item .info-options .options button .delete:hover{
    color: rgb(228, 54, 54);
}

.grid-item .title {
    grid-area: title;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-item .tags-container {
    grid-area: tags;
    
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    flex-wrap: wrap;
}

.grid-item .tags-container .tag{
    padding: 2px;
    height: fit-content;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.9);

    background-color: rgba(24, 24, 24, 0.9);
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}


.grid-item .desc {
    grid-area: description;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
}

.grid-item:hover {
    box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
    cursor: pointer;
}