.study-page-wrapper {
    grid-area: content;
    display: flex;
    justify-content: center;
    width: 100%;
}

.study-page-container {
    display: grid;
    width: 1300px;
    grid-template-rows: auto 500px auto;
    grid-template-areas: 
    "sp-header"
    "sp-center"
    "sp-body";
    padding-bottom: 50px;
}

.sp-header-container {
    padding-top: 20px;
    grid-area: sp-header;
    
    background-color: var(--color-bg);
    display: flex;
}

.sp-header-container span{
    font-size: 26px;
    font-weight: bold;
    width: 50%;
}

.sp-center-container {
    grid-area: sp-center;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}


.sp-cards-container {
    grid-area: sp-body;
    padding-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .study-page-container {
        width: 100%;
    } 
}

@media (max-width: 1024px) {
    .study-page-container {
        width: 100%;
    } 
}