/*@import url("https://fonts.gstatic.com");*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

html, body, #root, #root>div {
  height: 100%;
  background: rgb(245, 245, 245);
  font-family: 'Rubik', sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 150px 35px auto;
  grid-template-rows: 60px 35px auto;
  grid-template-areas:
      "header header header"
      "sidebar margin-left margin-top"
      "sidebar margin-left content";
  
}


@media (min-width: 320px) and (max-width: 480px) {
}
