html, body, #root, #root>div {
  height: 100%;
  background: rgb(250, 250, 250);
}

.main-container {
  display: grid;
  grid-template-columns: 15px 240px auto;
  grid-template-rows: 65px auto;
  grid-template-areas:
      "header header header"
      "indent sidebar content";
  grid-gap: 15px;
}

.content {
  grid-area: content;
}

.indent {
  grid-area: indent;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main-container {
      grid-template-areas:
          "header header header"
          "indent content content";
  }
}
