.slide-container{
    height: 90%;
    width: 100%;
    background: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.hidden-card{
    display: none;
}

.slide-content-container{
    background-color: var(--color-fg);
    height: 100%;
    width: 100%;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    transform-style: preserve-3d; 
}

.back-side{
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.slide-term-content, .slide-definition-content{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.slide-definition-content{
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.back-side > .slide-term-content{
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}


