.folder-collapsible-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}

.folder-collapsible-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid rgba(24, 24, 24, 0.1);
    background: white;
    font-size: 20px;
}

.folder-collapsible-button:hover{
    cursor: pointer;
}

.expand-button {
    transition: transform 0.35s;
}

.expand-flipped {
    transform: rotate(-180deg);
}

.folder-collapsible-container {
    background-color: white;
    transition: height 0.35s ease;
    overflow: hidden;
}

.folder-collapsible-position {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 220px;
    grid-gap: 20px;
    margin: 15px;
    
}

.collapsible-hide {
    height: 0px;
}

.add-set-card {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: var(--color-fg);
    font-size: 18px;
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    transition: box-shadow 0.2s;
    transition: color 0.15s;
}

.add-set-card:hover {
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    color: var(--color-accent);
    cursor: pointer;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .folder-collapsible-container {
        transition: height 0.4s ease;
    }
    .folder-collapsible-position { 
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 550px) and (max-width: 1024px) {
    .folder-collapsible-container {
        transition: height 0.45s ease;
    }
    .folder-collapsible-position { 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 549px) {
    .folder-collapsible-container {
        transition: height 0.55s ease;
        
    }
    .folder-collapsible-position { 
        grid-template-columns: repeat(1, 1fr);
    }
}
