
.browse-page-wrapper ol{
    margin: 0;
    padding: 0;
}

.browse-page-wrapper {
    margin-top: 20px;
    grid-area: content;
    display: grid;
    grid-template-rows: 50px auto 25px;
    grid-template-areas: 
    "browse-query"
    "browse-results"
    "browse-pagination";
    width: 100%;
}

.browse-page-header {
    align-self: flex-start;
    font-weight: bold;
    font-size: 26px;
}

.browse-page-container {
    margin: auto;
    min-width: 1300px;
    width: 1300px;
    
    padding-bottom: 20px;
}

.browse-query-container {
    background-color: rgba(0, 0, 0 ,0);
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 95%;
    height: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.browse-query-container .search-container{
    width: 100%;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    
}

.browse-query-container input {
    box-sizing: border-box;
    width: 100%;
}

.browse-query-container .search-container .by-title{
    box-sizing:border-box;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 8px;
    border: none;
    border-bottom: 2px solid var(--color-text);
    transition: border-bottom 0.15s ease;
    width: 100%;
    height: 100%;
}

.browse-query-container .search-container .by-title:focus{
    box-sizing:border-box;
    outline: none;
}

.search-format-container {
    display: flex;
    flex-direction: row;
}

.search-format-container .format-dropdown{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    font-size: 20px;
}

.search-format-container .format-dropdown select{
    font-size: 20px;
    outline: none;
}

.search-buttons-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.search-buttons-container button{
    border: none;
    background-color: var(--color-accent);
    border-radius: 2px;
    padding: 9px;
    cursor: pointer;
    font-size: 20px;
}

.browse-num-results {
    font-size: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.browse-results-container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    
    align-items: center;
    overflow-y: auto;
    width: 100%;
    height: auto;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}


.empty-results-container {
    display: flex;
    flex-direction: column;
}

.empty-results-container span{
    font-size: 20px;
    font-weight: bold;
}

.empty-results-container a {
    width: fit-content;
    margin-top: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-accent);
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    font-size: 18px;
}

.browse-pagination-container {
    width: 100%;
    margin-top: 20px !important;
}

@media (max-width: 1600px) {
    .browse-page-container {
        min-width: 90%;
        width: 90%;
    }
}

.browse-page-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

