.browse-item-container button{
    background-color:rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.browse-item-container {
    cursor: pointer;
    list-style: none;
    width: 95%;
    border-radius: 5px;
    background-color: var(--color-fg);
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    transition: box-shadow 0.16s;
    display: grid;
    row-gap: 15px;
    grid-template-areas: 
    "item-header"
    "item-content"
    "item-footer";
}

.browse-item-container:hover{
    box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
}

.browse-item-header {
    grid-area: item-header;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
    align-items: center;
}

.browse-item-header button{
    color: rgba(24, 24, 24, 0.22);
    transition: color 0.16s;
    
}

.browse-item-header button:hover{
    color: rgb(250, 233, 0);
}


.browse-item-header .profile-container{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 7px;
    align-items: center;
    color: black;
}

.browse-item-header .profile-container:hover .profile-username{
    text-decoration: underline;
}

.browse-item-content {
    margin: 15px;
    grid-area: item-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.browse-item-content .title{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.browse-item-content .description{
    font-weight: lighter;
    color: black;
}


.browse-item-footer {
    grid-area: item-footer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.browse-item-footer button{
    padding: 5px;
    background-color: rgb(24, 24, 24, 0.8);
    color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    font-size: 16px;
    transition: color 0.15s ease, background-color 0.15s ease;
}

.browse-item-footer button:hover{
    text-decoration: underline;
    background-color: var(--color-accent);
    color: rgba(24, 24, 24, 1);
}