.study-view-container {
    height: 100%;
    width: 100%;
    grid-area: content;

    display: grid;
    grid-template-rows: auto 400px auto;
    grid-template-columns: 26vw auto 26vw;
    grid-template-areas:
    "margin-l title margin-r"
    "margin-l carousel margin-r"
    "margin-l cards margin-r";
    grid-gap: 5px;
}

.study-view-title {
    grid-area: title;
    width: 70%;
    font-size: 35px;
    font-weight: bold;
}

.study-view-cards {
    grid-area: cards;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


@media (min-width: 1025px) and (max-width: 1280px) {
  
    .study-view-container {
        grid-template-rows: auto 400px auto;
        grid-template-columns: 15vw auto 15vw;
        grid-gap: 5px;
    }
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    .study-view-container {
        grid-template-rows: auto 400px auto;
        grid-template-columns: 170px auto 3vw;
        grid-gap: 5px;
    }
  
}

@media (min-width: 481px) and (max-width: 767px) {
    .study-view-container {
        grid-template-rows: auto 400px auto;
        grid-template-columns: 2vw auto 2vw;
        grid-gap: 5px;
    }
  
}

@media (min-width: 320px) and (max-width: 480px) {
    .study-view-container {
        grid-template-rows: auto 400px auto;
        grid-template-columns: 2vw auto 2vw;
        grid-gap: 5px;
    }
  
}
