.swiper-slide {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.swiper-slide:hover {
    cursor: pointer;
}

.swiper-container {
    height: 100%;
    width: 100%;
}

.swiper-button-next {
    opacity: 0.3;
    transition: opacity 0.2s;
    color: var(--color-text);
}

.swiper-button-prev {
    opacity: 0.3;
    transition: opacity 0.2s;
    color: var(--color-text);
}

.swiper-button-next:hover {
    opacity: 1;
}

.swiper-button-prev:hover {
    opacity: 1;
}

#swiper-outer-container {
    grid-area: carousel;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

#swiper-inner-container {
    
}

#swiper-inner {

    
    padding: 10px;
}

#swiper-inner-background {
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}