.edit-set-page-wrapper button {
    border: none;
    cursor: pointer;
}

.edit-set-page-wrapper {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.edit-set-page-container {
    display: grid;
    width: 60%;
}