.meta-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.meta-container div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.meta-container div input{
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid rgba(24, 24, 24, 1);
    padding-bottom: 10px;
    width: 100%;

    transition: 0.26s border-bottom;
}

.meta-container div label {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
}

.meta-container div input:focus{
    outline: none;
    border-bottom: 2px solid var(--color-accent);
}