.sets-page-container {
    padding-top: 20px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.all-sets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-folders-container {
    display: flex;
    flex-direction: column;
}

.sets-buttons-container {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.sets-buttons-container button{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    gap: 10px;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    
    background-color: var(--color-fg);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    transition: box-shadow 0.26s;
}

.sets-buttons-container button:hover{
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}


@media (max-width: 1600px) {
    .sets-page-container {
        width: 90%;
    } 
}
